@font-face
{
   font-family: 'Boblic';
   src: url('font/boblic.ttf') format('truetype'), 
   	url('font/boblic.woff') format('woff');
}

/* Table of contents */

/* =General styles */
/* =Grid */
/* =Helpers */
/* =Spacing helpers */
/* =Align */
/* =Typography */
/* =Typography helpers */
/* =Visibility helpers */
/* =Font sizes */
/* Font families */
/* =Colors */
/* =Shadows */
/* =Buttons */
/* =Forms */
/* =Sections */
/* =Header */
/* Hero */
/* Benefits */
/* Benefits card */
/* Cta1 */
/* Guarantee */
/* Card Guarantee */
/* How we work */
/* Card how we work */
/* Cta2 */
/* =Advantages */
/* Card Advantages */
/* Services */
/* Card Services */
/* Testimonials */
/* Card Testimonials */
/* Сta3 */
/* Page specific styles */


/* =General styles */
body {
	font-family: Boblic, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* =Grid */
.container {
	max-width: 1000px;
	margin: auto;
}
.flex {
	display: flex;
}
.row {
	display: flex;
}
/* =Helpers */
.inline-block {
	display: inline-block;
}
.img-responsive {
	max-width: 100%;
}
.display-none {
	display: none;
}
/* =Spacing helpers */
.m-0 {
	margin: 0;
}
.mb-3 {
	margin-bottom: 36px;
}
.mb-5 {
	margin-bottom: 50px;
}
.mt-2 {
	margin-top: 20px;
}
.p-s {
	padding: 1rem;
}
.px-s {
	padding-left: 1rem;
	padding-right: 1rem;
}
.py-m {
	padding: 20px 0;
}
.space-around {
	justify-content: space-around;
}
/* =Align */
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
/* =Typography */
h2,
.h2 {
	font-size: 48px;
	font-family: Boblic, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
}
/* =Typography helpers */
.uppercase {
	text-transform: uppercase;
}
.bold {
	font-weight: bold;
}
/* =Visibility helpers */
@media (min-width: 1000px) {
	.hide-on-large {
		display: none;
	}
}
/* =Font sizes */
.font-xxs {
	font-size: 13px;
}
.font-s {
	font-size: 19px;
}
.font-m {
	font-size: 29px;
}
.font-l {
	font-size:35px;
}
.font-xl {
	font-size: 48px;
}
/* Font families */
.font-arial {
	font-family: Arial, sans-serif;
}
.font-boblic {
	font-family:Boblic, Arial;
}
/* =Colors */
.red-text {
	color:#FF0000;
}
.white-text {
	color:#FFFFFF;
}
.blue-text {
	color: #1E90FF;
}
.blue {
	background-color:#1E90FF;
}
/* =Shadows */
.shadow-m {
	box-shadow: 0px 0px 10px #696969;
}
.shadow-l {
	box-shadow: 0 5px 10px rgba(0,0,0,.4);
}
/* =Buttons */
.btn {
	text-transform: capitalize;
	border: 0px #A9A9A9 solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff800;
  background: -moz-linear-gradient(top, #fff800 0%, #ffaa00 100%);
  background: -webkit-linear-gradient(top, #fff800 0%,#ffaa00 100%);
  background: linear-gradient(to bottom, #fff800 0%,#ffaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff800', endColorstr='#ffaa00',GradientType=0 );
  color: #000000;
  font-family: Boblic, Impact, Arial, sans-serif;
  font-weight: bold;
  font-size: 27px;
}
.btn-accent {
	background: #91ddeb;
	background: -moz-linear-gradient(top, #91ddeb 0%, #20a0b7 100%);
	background: -webkit-linear-gradient(top, #91ddeb 0%,#20a0b7 100%);
	background: linear-gradient(to bottom, #91ddeb 0%,#20a0b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ddeb', endColorstr='#20a0b7',GradientType=0 );
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	border-radius: 0;
	box-shadow: 10px 10px 5px rgba(0,0,0,.4);
}
.btn-accent:hover {
	background: #91ddeb;
	background: -moz-linear-gradient(top, #20a0b7 0%, #91ddeb 100%);
	background: -webkit-linear-gradient(top, #20a0b7 0%,#91ddeb 100%);
	background: linear-gradient(to bottom, #20a0b7 0%,#91ddeb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ddeb', endColorstr='#20a0b7',GradientType=0 );
}
.btn-form {
	padding: 10px 40px;
}
/* =Forms */
.form {
	padding: 27px 10px 0;
	position: relative;
	box-sizing: border-box;
	border-radius: 5px;
	background: #91ddeb;
	background: -moz-linear-gradient(top, #91ddeb 0%, #20a0b7 100%);
	background: -webkit-linear-gradient(top, #91ddeb 0%,#20a0b7 100%);
	background: linear-gradient(to bottom, #91ddeb 0%,#20a0b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91ddeb', endColorstr='#20a0b7',GradientType=0 );
}
.form-main {
	max-width: 305px;
}
.form-main:after {
	content: url('img/arrowCurl.png');
	position: absolute;
	bottom: 0;
	left: -50px;
}
.modal .form-main:after {
	display: none;
}
.form-vintage {
	padding: 1em 50px;
	background: #fff;
	border: 16px solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, #FF7F64 0, #FF7F64 1em, transparent 0, transparent 2em,
	              #A6DBF1 0, #A6DBF1 3em, transparent 0, transparent 4em);
	
	font: 100%/1.6 Baskerville, Palatino, serif;
}
.formTitle {
	margin: 0 0 27px 0;
}
.formTitle-vintage {
	color: #ff0000;
}
.form-group {
	margin: 0 0 5px;
}
.form-group:nth-of-type(2) {
	margin-bottom: 20px;
}
.form-control {
	border: 1px #1E90FF solid;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Boblic;
	font-size: 20px;
	padding: 5px 0px 5px 10px;
	text-align: left;
	vertical-align: middle;
	width: 231px;
	line-height: 34px;
	max-width: 100%;
}
/* =Sections */
/* =Header */
.pageHeader {
	padding: 20px 10px;
	box-sizing: border-box;
}
.pageHeaderUTP {
	margin-bottom: 10px;
}
.pageHeaderUTPCopy {
	text-transform: uppercase;
	font-size:35px;
	font-weight: bold;
	margin: 0;
}
.pageHeaderUTPCopy-text-red {
	color:#FF0000;
}
.pageHeaderUTPCopy-bg-blue {
	background-color:#1E90FF;
	color: #fff;
}
.pageHeaderContact {
	font-family: Arial, sans-serif;
}
@media (min-width: 1000px) {
	.pageHeader {
		background-color: rgba(255,255,255,.8);
		position: absolute;
		top: 0;
		width: 100%;
		box-shadow: 0 5px 10px rgba(0,0,0,.4);
	}
	.pageHeaderInner {
		max-width: 1000px;
		margin: auto;
		display: flex;
	}
	.pageHeaderUTP {
		flex: 3;
		text-align: left;
	}
	.pageHeaderContact {
		flex: 1;
		text-align: right;
	}
}
/* Hero */
.hero {
	background-image: url('img/heroImg.jpg');
	background-repeat: no-repeat;
	margin-bottom: 50px;
	padding: 50px 10px;
	background-position: 0 -100px;
	background-size: cover;
}
.heroInner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	height: 100%;
}
@media (min-width: 1000px) {
	.hero {
		background-position: center;
		margin-bottom: 50px;
		padding: 335px 0 165px;
	}
}
/* Benefits */
.benefits {
	margin-bottom: 150px;
}
.benefitsInner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* Benefits card */
.cardBenefits {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	color: #696969;
	font-weight: bold;
	flex-basis: 180px;
}
@media (min-width: 1000px) {
	.cardBenefits {
		flex-basis: 0;
	}
}
.cardBenefitsHeader {
	background: url('img/benefitsBadge.png') center no-repeat;
	min-height: 136px;
	color: #ffffff;
	font-size: 35px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-weight: bold;
}
.cardBenefitsBody {
	font-size: 19px;
}
/* Cta1 */
.cta1Inner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.cta1Col1 {
	text-align: center;
}
.cta1Image {
	margin-bottom: 20px;
}
.cta1ListWrapper {
	color: #000000;
  font-size: 27px;
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}
.cta1List {
	background: #FFFF33;
	padding: 20px 20px 20px 7px;
}
.cta1List,
.cta1ListItem {
	list-style-type: none;
}
@media (min-width: 1000px) {
	.cta1Inner {
		flex-direction: row;
	}
	.cta1Col1 {
		text-align: initial;
	}
	.cta1ListWrapper {
	  justify-content: flex-end;
	}
	.cta1List:before {
		content: '';
		position: absolute;
		top: 27px;
		left: 20px;
		width: 0; 
		height: 0; 
		border-top: 125px solid transparent;
		border-bottom: 125px solid transparent; 
		
		border-right:125px solid #FFFF33;
	}
}
/* Guarantee */
.guaranteeInner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/* Card Guarantee */
.cardGuarantee {
	padding: 10px;
	text-align: center;
	/*flex: 1;*/
	flex-basis: 180px;
}
.cardGuaranteeTitle {
	color:#696969;
	font-size: 24px;
	text-transform: uppercase;
}
.cardGuaranteeCopy {
	font-size: 17px;
	color:#696969;
}
@media (min-width: 1000px) {
	.guaranteeInner {
		justify-content: space-between;
	}
	.cardGuarantee:not(:last-of-type) {
		background-image: linear-gradient(to bottom, #fff 20%, transparent 20%), linear-gradient(to left, #DCDCDC 3px, transparent 1px);
	}
}
/* How we work */
.howWeWorkInner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}
/* Card how we work */
.cardHowWeWork {
	color:#696969;
	/*flex: 1;*/
	
	flex-basis: 150px;
	text-align: center;
	position: relative;
}
@media (min-width: 1000px) {
	.howWeWorkInner {
		justify-content: space-around;
	}
	.cardHowWeWork:not(:last-of-type):after {
		content: url('img/arrowRight.png');
		position: absolute;
		right: -20px;
		top: 20px;
	}
}
.cardHowWeWorkTitle {
	font-size: 20px;
	text-transform: uppercase;
}
.cardHowWeWorkCopy {
	font-size: 16px;
}
/* Cta2 */
.cta2 {
	background-image: url('img/blurredbg.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
}
.cta2Inner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.cta2FormWrapper {
	display: flex;
  justify-content: center;
  margin-top: 50px;
}
.offer {
	position: relative;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.offer,
.cta2FormWrapper {
	flex: 1;
}
.offerCircle {
	border-radius: 50%;
	background: rgba(255,255,255,.9);
	position: static;
	border: 1px solid grey;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	z-index: 10;
}
/*.offerCircle:before {
	content: '';
	position: absolute;
	background: rgba(255,255,255,.2);
	z-index: 1;
}*/
.offerCircle1 {
	width: 250px;
	height: 250px;
}
/*.offerCircle1:before {
	width: 270px;
	height: 270px;
	border-radius: 50%;
}*/
.offerCircle2 {
	width: 180px;
	height: 180px;
	left: 220px;
  top: 100px;
  z-index: 1;
}
/*.offerCircle1:before {
	width: 190px;
	height: 190px;
	border-radius: 50%;
}*/
.offerCircle1Title {
	color:#00BFFF;
	font-size: 53px;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.offerCircleCopy {
	font-weight: bold;
	color:#696969;
	font-size: 32px;
	margin: 0;
	width: inherit; /* Fix for IE */
}
.offerCircle1Copy {
	font-size: 32px;
}
.offerCircle2Subtitle {
	color:#FFA500;
	font-size: 53px;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.offerCircle2Copy {
	font-size: 17px;
	padding: 0 10px;
	width: 110px;
}
.offerMessage {
	margin-top: 40px;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 40px 20px;
  background: rgba(255,255,255,.7);
  max-width: 480px;
  text-align: center;
  border-radius: 5px;
}
@media (min-width: 1000px) {
	.cta2Inner {
		flex-direction: row;
	}
	.cta2FormWrapper {
	  justify-content: flex-end;
	  align-items: flex-end;
	  margin-top: 50px;
	}
	.offer {
		display: block;
	}
	.offerCircle {
		position: absolute;
	}
	.offerMessage {
		margin-top: 340px;
	}
}
/* =Advantages */
.advantagesInner {
	max-width: 1000px;
	margin: auto;
	min-height: 690px;
	position: relative;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.advantagesTitle {
	background: #009CB1;
	color: #fff;
	margin: auto;
	padding: 10px;
}
/* Card Advantages */
.cardAdvantages {
	flex-basis: 300px;
	padding: 10px;
	text-align: center;
}
@media (min-width: 1000px) {
	.cardAdvantages {
		position: absolute;
		max-width: 400px;
		text-align: left;
	}
	.cardAdvantages:first-of-type {
		left: 446px;
		top: 20px;
	}
	.cardAdvantages:nth-of-type(2) {
		left: 536px;
		top: 100px;
	}
	.cardAdvantages:nth-of-type(3) {
		left: 586px;
		top: 200px;
	}
	.cardAdvantages:nth-of-type(4) {
		left: 614px;
		top: 300px;
	}
	.cardAdvantages:nth-of-type(5) {
		left: 586px;
		top: 400px;
	}
	.cardAdvantages:nth-of-type(6) {
		left: 537px;
		top: 500px;
	}
	.cardAdvantages:nth-of-type(7) {
		left: 449px;
		top: 600px;
	}
}
@media (min-width: 1000px) {
	.advantagesInner {
		background: url('img/advantages.jpg') 100px no-repeat;
	}
}
/* Services */
.servicesRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* Card Services */
.cardServices {
	/*flex: 1;*/
	flex-basis: 200px;
	font-size: 19px;
	color: #696969;
	text-align: center;
	padding: 10px;
}
.cardServicesTitle {
	text-transform: uppercase;
	font-weight: normal;
}
.cardServicesImage {
	border: 3px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px;
}
@media (min-width: 1000px) {
	.servicesRow {
		justify-content: space-between;
	}
}
/* Testimonials */
.testimonialsInner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.testimonialsRow {
	display: flex;
	flex-wrap: wrap;
}
/* Card Testimonials */
.cardTestimonials {
	flex-basis: 450px;
	color:#696969;
	padding: 10px;
}
.cardTestimonialsHeader {
	display: flex;
	border-bottom: 1px solid #1E9BAF;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.cardTestimonialsTitle {
	display: flex;
  align-items: flex-end;
  margin: 0 0 0 24px;
  color:#F14F00;
  font-size: 35px;
  font-weight: normal;
}
.cardTestimonialsCopy {
	color:#696969;
	font-size: 19px;
}
.cardTestimonialsAvatar {
	margin-left: auto;
	margin-right: 24px;
}
/* Сta3 */
.cta3 {
	background: url('img/cta3Bg.jpg') center / cover no-repeat;
	padding: 50px 10px;
}
.cta3Inner {
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.cta3Col {
	flex: 1;
}
@media (min-width: 1000px) {
	.cta3Inner {
		flex-direction: row;
	}
}
/* Page specific styles */
.page-spasibo {
	min-height: 70vh;
}
.page-spasiboMain {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.page-spasiboTitle {
	color:#FF6347;
	text-transform: uppercase;
	font-size: 64px;
}
.page-spasiboLink {
	font-size: 35px;
}